// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

::-webkit-scrollbar-track {
border-radius: 3px;
background-color: #d8d8d8;
}

::-webkit-scrollbar {
width: 6px;
height: 6px;
background-color: #d8d8d8;
}

::-webkit-scrollbar-thumb {
border-radius: 3px;
background-color: #909090;
}

.flex-row{
    display: flex;
    flex-flow: row;
    justify-content: stretch;
}
.flex-column{
    display: flex;
    flex-flow: column;
    justify-content: stretch;
}