// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
font-family: 'Kanit', sans-serif;
}

::-webkit-scrollbar-track {
border-radius: 3px;
background-color: #d8d8d8;
}

::-webkit-scrollbar {
width: 6px;
height: 6px;
background-color: #d8d8d8;
}

::-webkit-scrollbar-thumb {
border-radius: 3px;
background-color: #909090;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.flex-row{
display: flex;
flex-flow: row;
justify-content: stretch;
}
.flex-column{
display: flex;
flex-flow: column;
justify-content: stretch;
}

.card{
margin: 20px;
padding: 5%;
background-color: white;
border: #909090 solid 0.3px;
}